.dark {
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-highlight: #2dd4bf;

    --btn-bg-color: #e5e7eb;
    --btn-text-color-black: #1e293b;

    --newsletter-section-bg: #1e293b;
    --newletter-input-bg: #111827;
    --newsletter-submit-btn: #6366f1;
}



/* code for heading.jsx component */
main {
    padding-inline: var(--padding-inline);
}

.heading {
    padding-top: 6rem;
    width: 100%;
    display: grid;
    gap: 2rem;
    place-content: center;
    grid-template-columns: repeat(6, 1fr);
}

h1.heading_text {
    grid-column-start: 1;
    grid-column-end: 6;
    font-family: var(--font-manrope);
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    color: var(--text-primary);
}

.heading span {
    color: var(--text-highlight);
}

.devloper_img {
    grid-column-start: 6;
    grid-column-end: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.devloper_img img {
    width: 100%;
    min-width: 160px;
    border-radius: 50%;
}

.btn_group {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

main .btn_group a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 6px 24px;
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    border-radius: 2rem;
}

a.blog_link {
    background: var(--btn-bg-color);
    color: var(--btn-text-color-black);
}

a.about_link {
    background: transparent;
    color: var(--text-primary);
}

.heading_end {
    padding-block: 4rem;
    text-align: center;
    color: var(--text-secondary);
    font-weight: 200;
}


@media screen and (max-width:730px) {
    main {
        padding-top: 3rem;
    }

    .heading {
        padding-top: 0rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    h1.heading_text {
        font-size: 36px;
        line-height: 45px;
        font-weight: 800;
        text-align: center;
    }

    .heading span {
        color: var(--text-highlight);
    }

    .devloper_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .devloper_img img {
        width: 160px;
        min-width: 160px;
        border-radius: 50%;
    }

    .btn_group {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }

    .btn_group a {
        min-width: 280px;
        max-width: 480px;
    }
}

/*  X----------X----------------ended heading.jsx component --------X_-------X*/


/* --------------------------blog.jsx component ---------------*/

section.blog_section {
    padding-inline: var(--padding-inline);
}

section.blog_section h1 {
    font-family: var(--font-manrope);
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--text-primary);
}

section.blog_section h3 {
    margin-top: 2rem;
    font-family: var(--font-inter);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: var(--text-secondary);
}

.blogs_container {
    margin-top: .8rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.blog_card .card_img {
    width: 100%;
    height: 393px;
    min-height: 350px;
    /* background: red; */
    overflow: hidden;
    border-radius: 1rem;
}

.blog_card .card_img img.blog_image {
    width: 100%;
    height: 393px;
    min-height: 350px;
    object-fit: cover;
}

.blog_card .blog_text {
    margin-top: .5rem;
    padding-inline: .2rem;
}

.blog_text h1.blog_heading {
    font-family: var(--font-manrope);
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: var(--text-primary);
}

.blog_text p.blog_published_date {
    margin-top: 1rem;
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: var(--text-secondary);
}

.blog_section a.blog_link {
    display: inline-flex;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 6px 24px;
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    border-radius: 2rem;
    background: var(--btn-bg-color);
    color: var(--btn-text-color-black);
}


@media screen and (max-width:1150px) {
    .blogs_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:670px) {

    .blogs_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }


    .blog_card {
        max-width: 100%;
    }

    .blog_card .card_img {
        width: 100%;
        min-height: 450px;
        height: 450px;
        overflow: hidden;
        border-radius: 1rem;
    }

    .blog_card .card_img img.blog_image {
        min-width: 100%;
        min-height: 450px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/* ------X---------X-----------blog.jsx component ----X------X-----*/


/* -----------------newslatter subscription section start-------------------- */

section.newsletter {
    margin-top: 5rem;
    padding-inline: var(--padding-inline);
}

.newsletter .content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 1rem;
    padding: 4rem 2rem 2rem 2rem;
    background: var(--newsletter-section-bg);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 1.5rem;
}

.newsletter .content h4.content_heading {
    padding-block: 1rem;
    font-family: var(--font-manrope);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--text-primary);
}

.newsletter .content p.content_description {
    padding-block: .7rem;
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-secondary);
}

.newsletter .content p.note {
    padding-block: 1rem;
    font-family: var(--font-inter);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-secondary);
}

.newsletter form.news_subscription {
    margin-top: -5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.newsletter form.news_subscription input[type="email"] {
    padding: 1rem 4rem 1rem 2rem;
    border-radius: 2rem;
    background: var(--newletter-input-bg);
    border: 1px solid rgba(255, 255, 255, .4);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-primary);
    caret-color: var(--text-highlight);
}

.newsletter form.news_subscription input[type="submit"] {
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: var(--newsletter-submit-btn);
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--text-primary);
    cursor: pointer;
}

.newsletter form.news_subscription input[type="submit"]:hover {
    opacity: .8;
}

@media screen and (max-width:1030px) {
    .newsletter .content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .newsletter form.news_subscription {
        margin-top: 0rem;
    }
}


@media screen and (max-width:580px) {
    .newsletter form.news_subscription {
        flex-direction: column;
    }

    .newsletter form.news_subscription input[type="submit"],
    .newsletter form.news_subscription input[type="email"] {
        padding: 1rem;
        display: block;
        width: 100%;
        text-align: center;
    }
}

/* ---X-----------X---newslatter subscription section start----X----------X------ */