.dark {
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-highlight: #2dd4bf;

    --btn-bg-color: #e5e7eb;
    --btn-text-color-black: #1e293b;

    --card-border: rgba(255, 255, 255, .2);
    --card-blur-layer: rgba(0, 0, 0.1), rgba(0, 0, 0, .2);

    /* --project-card-1: linear-gradient(to bottom, rgba(88, 28, 135, .5), #a21caf); */
}

main {
    padding-inline: var(--padding-inline);
    margin-top: 6rem;
}

@media screen and (max-width:640px) {
    main {
        margin-top: 2rem;
    }
}


/* --------------------project card started-------------------------- */


.project_container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project_card {
    position: relative;
    padding: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border-radius: 2rem;
    border: 2px solid transparent;
    overflow: hidden;
    border: 3px solid var(--card-border);
}



.project_card:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--card-blur-layer)), url('../assets/bg.webp') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(18px);
}

.project_card:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--card-blur-layer)), url('../assets/bg2.webp') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(18px);
}

.project_image {
    max-height: 500px;
    overflow: hidden;
    z-index: 1;
}

.project_card .project_image img {
    width: 100%;
    min-height: 150px;
}

.project_card .project_text_content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2rem;
}

.project_title {
    font-family: var(--font-manrope);
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: var(--text-primary);
}

.project_description {
    font-family: var(--font-inter);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-secondary);
}

.project_text_content .btn_group {
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
}

.project_text_content .live_link {
    max-width: 300px;
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    font-family: var(--font-inter);
    font-size: 1rem;
    line-height: 32px;
    font-weight: 600;
    color: var(--btn-text-color-black);
    background: var(--btn-bg-color);
    border-radius: 2rem;
}

.project_text_content .live_link:hover {
    opacity: .9;
}

.project_text_content .live_link i.remix-icon {
    font-size: 1.3rem;
}

@media screen and (max-width:840px) {
    .project_card {
        padding: 0px;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .project_card::after {
        content: '';
        width: calc(100%);
        height: calc(100%);
        border-radius: 1rem;
        border: 2px solid var(--card-border);
    }

    .project_image {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .project_text_content {
        padding: 2rem;
    }
}

@media screen and (max-width:400px) {
    .project_card {
        border-radius: 0rem;
        border-radius: .5rem;
    }

    .project_image {
        padding: .5rem;
    }


    .project_card .project_image img {
        min-height: 150px;
        border-radius: .2rem;
    }


    .project_card .project_text_content {
        padding: .5rem;
        gap: 1rem;
    }

    .project_title {
        text-align: center;
        margin-top: 1rem;
        font-size: 24px;
        line-height: 30px;
    }

    .project_description {
        text-align: justify;
        /* text-indent: 2rem; */
        font-size: 16px;
    }

    .btn_group {
        margin-top: 1rem;
    }
}

/* ---------X------X----project card started-------X-------------X-------- */