main.blog {
    padding-inline: var(--padding-inline);
    margin-top: 6rem;
}

@media screen and (max-width: 640px) {
    main.blog {
        margin-top: 2rem;
    }
}

h1.blog_main_heading {
    /* margin-top: 1rem; */
    font-family: var(--font-manrope);
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    color: var(--text-primary);
    text-align: center;
}

p.published_date {
    font-family: var(--font-inter);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-secondary);
    text-align: center;
}

img.blog_image {
    margin-top: 3rem;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

p.blog_paragaph {
    width: 98%;
    margin: 1.3rem auto 0 auto;
    font-family: var(--font-inter);
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.code_block {
    width: 98%;
    margin: 1.3rem auto 3rem auto;
}

h1.blog_headin_1 {
    margin-top: 1.5rem;
    font-family: var(--font-manrope);
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: var(--text-primary);
}

.table_of_content {
    margin-top: 2rem;
    padding: 1rem;
    background: rgba(0, 0, 0, .3);
    border-radius: .4rem;
}

h3.table_of_content_heading {
    padding: .5rem 0;
    font-family: var(--font-manrope);
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 700;

}

a.main_point {
    margin-left: 1rem;
    display: block;
    padding: .4rem 0;
    font-family: var(--font-inter);
    color: var(--text-secondary);
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

a.under_point {
    margin-left: 3rem;
    display: block;
    padding: .4rem 0;
    font-family: var(--font-inter);
    color: var(--text-secondary);
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

a.under_point:hover,
a.main_point:hover {
    color: var(--text-highlight);
}

@media screen and (max-width:640px) {
    h1.blog_main_heading {
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
    }
}