/* all globle style write here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Manrope:wght@600;700;800&display=swap');

:root {
    --font-inter: 'Inter', sans-serif;
    --font-manrope: 'Manrope', sans-serif;


    --padding-inline: 13%;
    --bg-dark: #111827;
}





html {
    scroll-behavior: smooth;
}

@media screen and (max-width:1150px) {
    :root {
        --padding-inline: 2%;
    }
}

@media screen and (max-width:670px) {
    :root {
        --padding-inline: 5%;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4242424a;
}

::-webkit-scrollbar-thumb {
    background: #68686867;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}



body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: var(--bg-dark); */
    font-family: var(--font-inter);
}